{% extends 'base.html' %}
{% load static %}

{% block title %}Home {% endblock title %}
{% block body %}
<section class="jumbotron text-center" style="padding-top: 20px;">
<div class="container" style="width: 100%;">
<div class="row">
<div class="col">
<h1 class="jumbotron-heading mb-2 text-left" style="line-height: 50px;">To all readers around the world,</h1>
<div class="lead text-left">
<p><strong>InoBooks</strong> is something special. It is like a library or a public park. It is a place we can all go to think, to learn, to share our knowledge with others for no cost since 2020.</p>
<p>However our funds are becoming limited, we wish to keep <strong>InoBooks</strong> thriving for years to come, <strong>to preserve free, accessible knowledge to our users</strong> and even expand to be able to provide for those beyond the scope of the interweb.</p>
<p>In this case, we are asking for your help. A donation of any size would help InoBooks reach goals that will help more than just its users.
</p>
<p>As we wish to continue growing InoBooks, we hope you accept our request. We appreciate you, regardless of your situation to help, and will continue providing current services as is.</p>
<p>Thank you for taking the time to read. We are grateful for your time and consideration.</p>
<p>Wishing you all the best,</p>
<p>The InoBooks Team</p>
</div>
<center>
<p>
<strong>Using Paytm:</strong><br>
<a class="btn " href="pay" role="button" style="background-color: #8C55AA">Donate</a>

{% endblock body %}

